/** This is a comment that the browser will ignore,
* Put your CSS code into this file
*/

h1 {
     /** Changing brackground color of h1 element */
    background: cornflowerblue;
     /** Changing letter family of h1 element  */
    font-family: monospace;
     /** Changing letter color of h1 element */
    color: darkkhaki;
    
 }